#pictureUploadPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 600px; 
  margin: 20px auto;
  margin-left: 250px; 
}

.drop-area {
    margin-top:20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-left: 250px;
  cursor: pointer;
  margin-bottom: 20px;
  background: #f9f9f9;
}

h3{
    margin-left: 250px;
}

.thumbnail-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 20px;
  overflow-x: auto;
  padding:0px;
  margin-left: 250px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px; 
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-right: 10px;
}

.thumbnail-maincontainer {
    margin-left : 250px;
}

.thumbnail:not(:last-child) {
  margin-right: 5px; 
}

  .thumbnail img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .thumbnail button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f44336;
    color: white;
    font-size: 14px;
  }

.upload-button-container {
  display: flex;
  justify-content: safe center;
  width: 100%; 
  margin-top: 20px; 
}

.upload-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}
h2{
    margin-left: 250px;
}
/* remove this later
*/
