<nav class="navbar">
  <div class="logo_item">
    <i class="bx bx-menu" id="sidebarOpen" (click)="toggleSidebar()"></i>
    <img src="assets/images/logo.png" alt="Logo">SmartStore
  </div>
</nav>
<nav class="sidebar" [class.close]="isSidebarClosed">
  <div class="menu_content">
    <ul class="menu_items">
      <div class="menu_title menu_dashboard"></div>
      <li class="item">
        <a class="nav_link submenu_item" routerLink="/" routerLinkActive="active">
          <span class="navlink_icon">
            <span class="ri-pencil-line"></span>
          </span>
          <span class="navlink">Product info</span>
        </a>
      </li>
      <li class="item">
        <a class="nav_link submenu_item">
          <span class="navlink_icon">
            <i class='bx bx-rupee'></i>
          </span>
          <span class="navlink">Price</span>
        </a>
      </li>
      <li class="item">
        <a class="nav_link submenu_item3" routerLink="/upload" routerLinkActive="active">
          <span class="navlink_icon">
            <i class='bx bx-upload'></i>
          </span>
          <span class="navlink">Pictures</span>
        </a>
      </li>
    </ul>
    <!-- Additional menu items here -->
  </div>
</nav>
