<div class="price-page-container">
  <form [formGroup]="priceForm" (ngSubmit)="onSubmit()">


    <div class="form-field">
      <label for="salePrice">Sale Price<span class="required-asterisk">*</span></label>
      <input formControlName="salePrice" id="salePrice" type="number" required min="0" [ngClass]="{'error': (priceForm.get('salePrice')?.touched && priceForm.get('salePrice')?.errors)}">
      <div *ngIf="priceForm.get('salePrice')?.touched && priceForm.get('salePrice')?.errors?.['required']" class="error-message">
        Field is required
      </div>
      <div *ngIf="priceForm.get('salePrice')?.errors?.['priceError'] && priceForm.get('salePrice')?.touched" class="error-message">
        {{ priceForm.get('salePrice')?.errors?.['priceError'] }}
      </div>
    </div>

    <div class="form-field">
      <label for="mrp">MRP<span class="required-asterisk">*</span></label>
      <input formControlName="mrp" id="mrp" type="number" required min="0" [ngClass]="{'error': (priceForm.get('mrp')?.touched && priceForm.get('mrp')?.errors)}">
      <div *ngIf="priceForm.get('mrp')?.touched && priceForm.get('mrp')?.errors?.['required']" class="error-message">
        Field is required
      </div>
    </div>

    <div class="form-field">
      <label for="specialPrice">Special Price</label>
      <input formControlName="specialPrice" id="specialPrice" type="number" min="0">
      <div *ngIf="priceForm.get('specialPrice')?.errors?.['specialPriceError'] && priceForm.get('specialPrice')?.touched">
        {{ priceForm.get('specialPrice')?.errors?.['specialPriceError'] }}
      </div>
    </div>

    <div class="form-field special-dates">
      <label>From</label>
      <input formControlName="fromDate" type="date">
      <label>To</label>
      <input formControlName="toDate" type="date">
    </div>

    <div class="form-field">
      <label for="discount">Discount</label>
      <input formControlName="discount" id="discount" type="number" min="0" [ngClass]="{'error': (priceForm.get('discount')?.touched && priceForm.get('discount')?.invalid)}">
      <div *ngIf="priceForm.get('discount')?.touched && priceForm.get('discount')?.errors?.['min']" class="error-message">
        Discount cannot be less than 0
      </div>
    </div>

    <div class="form-field">
      <label for="productCost">Product Cost<span class="required-asterisk">*</span></label>
      <input formControlName="productCost" id="productCost" type="number" required min="0" [ngClass]="{'error': (priceForm.get('productCost')?.touched && priceForm.get('productCost')?.errors)}">
      <div *ngIf="priceForm.get('productCost')?.touched && priceForm.get('productCost')?.errors?.['required']" class="error-message">
        Field is required
      </div>
      <div *ngIf="priceForm.get('productCost')?.errors?.['productCostError'] && priceForm.get('productCost')?.touched">
        {{ priceForm.get('productCost')?.errors?.['productCostError'] }}
      </div>
    </div>

    <div class="form-field">
      <label for="isBuyButtonDisabled">Disable Buy Button</label>
      <label class="switch">
        <input formControlName="isBuyButtonDisabled" type="checkbox">
        <span class="slider"></span>
      </label>
    </div>

    <div class="form-field">
      <label for="productId">Product ID<span class="required-asterisk">*</span></label>
      <input formControlName="productId" id="productId" type="number" required min="0" [ngClass]="{'error': (priceForm.get('productId')?.touched && priceForm.get('productId')?.errors)}">
      <div *ngIf="priceForm.get('productId')?.touched && priceForm.get('productId')?.errors?.['required']" class="error-message">
        Field is required
      </div>
    </div>
    <div class="form-actions">
      <button type="submit">Save</button>
      <button type="button" (click)="onSaveAndEdit()">Edit & Save</button>

    </div>

  </form>
</div>
